[Desktop Entry]
Name=GitHub Desktop
Comment=Unofficial GitHub desktop wrapper for Linux
Exec=github-desktop
Icon=io.github.example.GitHubDesktop
Terminal=false
Type=Application
Categories=Development;Network;
StartupNotify=true
StartupWMClass=GitHub Desktop
Keywords=GitHub;development;repositories;
X-Flatpak=io.github.example.GitHubDesktop